html {
font-family: sans-serif;
font-size: 100%; /* 1 */
-webkit-text-size-adjust: 100%; /* 2 */
-ms-text-size-adjust: 100%; /* 2 */
}
body { margin: 0; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
h1, h2, h3 { font-weight: normal; }
h1 {
font-size: 2em;
margin: 0.67em 0;
}
h2 {
font-size: 1.5em;
margin: 0.83em 0;
}
h3 {
font-size: 1.17em;
margin: 1em 0;
}
.container {
margin: 0 auto;
width: 80%;
max-width: 1260px;
min-width: 780px;
}
.sidebar {
float:right;
width: 26%;
}
.content {
float: left;
width: 72%;
}

h1 {font-family: 'ProximaNovaSoft-Semibold'; font-size: 72px;  letter-spacing: -7px; color: #FF9666; margin:10px 0; }
h1 .bam { color: #FFE184; }

#content .grid_4 { background-color: #F5E9BE; padding: 15px; border-radius: 5px; }
/*h1 {font-family: 'ProximaNovaSoft-Medium';}
h1 {font-family: 'ProximaNovaSoft-Bold';}
h1 {font-family: 'ProximaNovaSoft-Regular';}*/